.nav-link{
    color: black;
}

.nav{
    background-color: aliceblue;
}

.btn-tamaño {
    width: 10rem;
}

.input-tamaño{
    width: 20rem;
}

.d-flex{
    justify-content: center;
}

.alinear-centro{
    display: flex;
    justify-content: center;
}

.padding-table{
    padding: 20px;
}
